
<ion-header>
  <ion-navbar color = "primary">
    <ion-buttons start>
      <button ion-button icon-only menuToggle> 
        <ion-icon name = "menu"> </ion-icon>
      </button>

    </ion-buttons>
    <ion-title> <h1 side ="middle">14 restaurants</h1></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="cards-bg">
  <ion-searchbar placeholder = "Find your restaurant" (ionInput) = "getItems($event)"></ion-searchbar>
  <ion-card>
    <button ion-item *ngFor= "let item of items " > 
        <ion-card>
        <img src="{{item.url_img}}"/>

        <ion-item>
          <ion-icon color="primary" name="pin" item-start large></ion-icon>
          <h1>{{ item.name }} </h1>
          {{ item.location }}, {{ item.code_postal }} {{ item.city }}
        </ion-item>

        <ion-item>
          <ion-icon color="primary" name="call" item-start large> </ion-icon>
          <h2>{{ item.phone }}</h2>
        </ion-item>

      <br/>
        <!--
          <ion-item>
          <ion-icon name="locate" item-start large ></ion-icon>
          {{ item.location }}
        </ion-item> -->
        </ion-card>
    </button>

  <!--
    <ion-item *ngFor="let item of items">
      {{ item }}   
    </ion-item>
  --> 
  </ion-card>
</ion-content>
